= stylesheet_link_tag :cooperative
%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/ciw_banner.jpg"}) top center no-repeat;"}
.bg-white.clearfix
  #page.coop_application
    = semantic_form_for @resource, url: cooperative_index_path, method: :post do |f|
      .left-column
        %h1.head-page-tab
          %small CIW 2013: 
          Co-op Application
        .desc-page
          Thanks for applying to The Cooperative! But just in case something crazy happens, we recommend you save all your entries before submitting. If you experience technical problems or if you have any questions, please contact Kelly@chicagoideas.com.
        %fieldset.inputs
          .head-box-form
            %p
              %strong Here's what we're looking for:
            %p 
              Spark, creativity and ambition. Tell us (concisely) what makes you awesome, and why you’d make an integral member in this specially connected, impact-driven community.
          .row.box-upload-file
            .form-row
              .numb 1
              .over-hid
                %label Why do you want to be a member of The Cooperative? <small>(NO WORD LIMIT)</small>
                = f.text_area :reason
                .red= @resource.errors[:reason].first
            .form-row
              .numb 2
              .over-hid
                %label What social projects have you worked on (i.e. volunteerism, community projects, etc.)? <small>(400 WORDS MAX)</small>
                = f.text_area :worked_on, maxlength: 400
                .red= @resource.errors[:worked_on].first
            .form-row
              .numb 3
              .over-hid
                %label What are your expectations for being involved in the Co-op? <small>(200 WORDS MAX)</small>
                = f.text_area :expectations, maxlength: 200
                .red= @resource.errors[:expectations].first
            .form-row
              .numb 4
              .over-hid
                %label What was the most meaningful or magical part of 2012 for you? <small>(200 WORDS MAX)</small>
                = f.text_area :part_meaningful, maxlength: 200
                .red= @resource.errors[:part_meaningful].first
            .form-row
              .numb 5
              .over-hid
                %label What was your most inspiring failure? <small>(300 WORD MAX)</small>
                = f.text_area :ins_failure, maxlength: 300
                .red= @resource.errors[:ins_failure].first
            .form-row
              .numb 6
              .over-hid
                %label What Chicago neighborhood best represents who you are? Why? <small>(100 WORDS MAX)</small>
                = f.text_area :neighborhood, maxlength: 100
                .red= @resource.errors[:neighborhood].first
          .head-box-form.icon2
            %p
              %strong Additional Info:
          .row.box-upload-file
            .form-row
              .numb 1
              .over-hid
                %label Briefly describe the ereas in which the Chicago Ideas Week community can assist you or your organization: <small>(NO WORD LIMIT)</small>
                = f.text_area :assisted_area
                .red= @resource.errors[:assisted_area].first
            .form-row
              .numb 2
              .over-hid
                %label List three #hashtags that best describe your work and what you are passionate about: <small>(NO WORD LIMIT)</small>
                = f.text_area :passion
                .red= @resource.errors[:passion].first
            .form-row
              .numb 3
              .over-hid
                %label Are there any other organization or individuals you would recommend to be a member of the Co-op? If so, why? <small>(200 WORDS)</small>
                = f.text_area :recommend, maxlength: 200
                .red= @resource.errors[:recommend].first
      .right-column
        .right-inner
          .row.wrap-row-form
            .title
              %strong Information
            .span.wrap-form
              %label Name
              = f.text_field :name
              .red= @resource.errors[:name].first
            .span.wrap-form
              %label Title
              = f.text_field :title
              .red= @resource.errors[:title].first
          .row.wrap-row-form.bor-top
            .span.wrap-form
              %label Organization
              = f.text_field :organization
              .red= @resource.errors[:organization].first
            .span.wrap-form
              %label Phone
              = f.text_field :phone, placeholder: "Phone: (xxx) xxx-xxxx"
              .red= @resource.errors[:phone].first
            .span.wrap-form
              %label Organization's mission
              = f.text_area :org_mission
              .red= @resource.errors[:org_mission].first
            .span.wrap-form
              %label Organization's Twitter handle
              = f.text_field :org_twitter, placeholder: "@"
              .red= @resource.errors[:org_twitter].first
      .row
        =f.submit "Save Changes", class: "form-submit"
  .clr
          
              
                    
          
