= stylesheet_link_tag :cooperative
%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/ciw_banner.jpg"}) top center no-repeat;"}
.bg-white.clearfix
  #page.coop_application
    = semantic_form_for @resource, url: cooperative_index_path, method: :post, :remote => true do |f|
      .left-column
        %h1.head-page-tab
          CIW 2013: Co-op Application
        .desc-page
          Thanks for applying to The Cooperative! But just in case something crazy happens, we recommend you save all your entries before submitting. If you experience technical problems or if you have any questions, please contact Kelly@chicagoideas.com.
        %fieldset.inputs
          .head-box-form.icon3
            %p
              %strong Fill out contact information below:
            %p
              %span.red
                *
              Required field
          .box-upload-file
            = f.inputs class: 'co_app_name_last_name' do
              = f.input :name,      placeholder: 'First Name', required: true
              = f.input :last_name, placeholder: 'Last Name',  required: true
              = f.input :title
            = f.inputs class: 'co_app_organization' do
              = f.input :organization, required: true
            %p.co_app_contact_info
              Contact Information
            = f.inputs class: 'co_app_phone_email' do
              = f.input :phone, placeholder: '(xxx) xxx-xxxx', required: true
              = f.input :email, required: true
            = f.inputs class: 'co_app_org_mission' do
              = f.input :org_mission, as: 'text', label: "Organization's mission", required: true
            = f.inputs class: 'co_app_website_twitter' do
              = f.input :org_website, label: "Organization's Website",        required: true
              = f.input :org_twitter, label: "Organization's Twitter handle", placeholder: '@'
            %p.co_app_hashtags_desc
              Three #hashtags that best describe your work and what you are passionate about
            = f.inputs class: 'co_app_hashtags' do
              = f.input :passion_1, label: false, placeholder: '#'
              = f.input :passion_2, label: false, placeholder: '#'
              = f.input :passion_3, label: false, placeholder: '#'
          .head-box-form
            %p
              %strong Here's what we're looking for:
            %p 
              Spark, creativity and ambition. Tell us (concisely) what makes you awesome, and why you’d make an integral member in this specially connected, impact-driven community.
          .row.box-upload-file
            .form-row
              .numb 1
              .over-hid
                %label Why do you want to be a member of The Cooperative? <small>(NO WORD LIMIT)</small>
                = f.text_area :reason
                .red= @resource.errors[:reason].first
            .form-row
              .numb 2
              .over-hid
                %label What social projects have you worked on (i.e. volunteerism, community projects, etc.)? <small>(400 WORDS MAX)</small>
                = f.text_area :worked_on
                .red= @resource.errors[:worked_on].first
            .form-row
              .numb 3
              .over-hid
                %label What was the most meaningful or magical part of 2012 for you? <small>(200 WORDS MAX)</small>
                = f.text_area :part_meaningful
                .red= @resource.errors[:part_meaningful].first
            .form-row
              .numb 4
              .over-hid
                %label What was your most inspiring failure? <small>(300 WORD MAX)</small>
                = f.text_area :ins_failure
                .red= @resource.errors[:ins_failure].first
            .form-row
              .numb 5
              .over-hid
                %label What Chicago neighborhood best represents who you are? Why? <small>(100 WORDS MAX)</small>
                = f.text_area :neighborhood
                .red= @resource.errors[:neighborhood].first
          .head-box-form.icon2
            %p
              %strong Additional Info:
          .row.box-upload-file
            .form-row
              .numb 1
              .over-hid
                %label Briefly describe the areas in which the Chicago Ideas Week community can assist you or your organization: <small>(NO WORD LIMIT)</small>
                = f.text_area :assisted_area
                .red= @resource.errors[:assisted_area].first
            .form-row
              .numb 2
              .over-hid
                %label Are there any other organization or individuals you would recommend to be a member of the Co-op? If so, why? <small>(200 WORDS)</small>
                = f.text_area :recommend
                .red= @resource.errors[:recommend].first
        .row
          = f.submit "Submit Application", class: "btn submit form-submit"
  .clr

= render :partial => 'shared/thank_you_modal',
         :locals  => { :message    => 'Thank you for applying to the Co-op! Your application has been received. We look forward to learning more about you and your organization!',
                       :submessage => '' }
