= stylesheet_link_tag :cooperative
%section.banner.container-fluid
  .banner_wrapper{:style => "background: url(#{asset_path "application/ciw_banner.jpg"}) top center no-repeat;"}


-# Main Talk content
%section.container#main_content

  #page_header
    #page_title.left
      %h1.big-title The CIW Cooperative
    = render "partials/share"

  -# Left column, main content: About Us information
  .box.double.left

    #about_description.column_row.divided_row
      .column.column_double
        .entry
          = image_tag "application/cooperative/co-op.png", class: "co_op_img"
          %p
            %strong What is The Cooperative?
            %br
            %br
            %strong The Co-op is a movement. It is made up of innovative, empowering and commmunity-driven individuals breaking down silos and sparking change across Chicago.
            In 2013, we're launching a revamped and refined Community Partnerships program, aligned with our mission of nurturing great ideas and bolstering actionable initiatives.
            %strong This is our distinctive community;
            our collection of great ambitions, profound ideas and deep relationships:
            %strong This is The Cooperative.
          %p
            Members of the Co-op share our commitment of investing in this great city, through building or leading socially vested businesses, innovative nonprofits and
            grassroots initiatives pioneering what it means to be an entrepreneur. They're doing work with a purpose. And we're bringing them together to achieve even
            greater things through this close network of thinkers.
          %p
            Members of the Co-op share our commitment of investing in this great city, through building or leading socially vested businesses, innovative nonprofits and
            grassroots initiatives pioneering what it means to be an entrepreneur. They're doing work with a purpose. And we're bringing them together to achieve even
            greater things through this close network of thinkers.
          %p
            = link_to "Apply Here", application_cooperative_index_path, class: "blue_btn big-btn"
        %ul.list-expand
          %li.top_level
            %h3 IW Co-op Member Benefits
            = link_to "<i></i>click here to expand".html_safe, "#member_benefits", class: "expand-btn"
            #member_benefits.hide-expand
              %ol
                %li Invites to three (3) core Co-op events, as well as opportunities for select invites to supplementary group meet-ups intimate gatherings throughtout the year
                %li Invitations to select VIP events during the week
                %li Member-coordinated think tanks before of after CIW events hosted at HQ
                %li Early access to CIW ticket registration and discounted tickets
                %li Unique branding experiences, including exposure on the CIW website, show Guide, possible Talk interventions and media content, etc.
                %li Showcases the organization's commitment to futhering the culture of ideas and innovation in Chicago
                %li Social capital derived from beneficial connections made within the selective, highly diverse program
                %li Potential CIW Lab opportunities
          %li.top_level
            %h3 Members at a Glance
            = link_to "<i></i>click here to expand".html_safe, "#member_glance", class: "expand-btn"
            #member_glance.hide-expand
              %ol
                %li 75-100 members
                %li Diverse collection of local leaders, business pros, innovators and social pioneers who have a diverse range of skills, experiences and ideas to share with a new group
                %li Collective desire to be engaged in the local community
                %li Collective interest in being involved in CIW at a deeper level through attendance, support and (potential) supplementary program hosting
                %li Collectively challenging the status quo related to their own ventures and driven to use connections and platform to better serve the community in innovative, creative and collaborative ways
          %li.top_level
            %h3 Members Expectations and Requirements
            = link_to "<i></i>click here to expand".html_safe, "#member_exp", class: "expand-btn"
            #member_exp.hide-expand
              %ol
                %li Must be operating founder, CEO, key stakeholder of organization OR individual championing social change, innovation, arts &amp; culture, education reform or similar impactful initiative/something of consequence in the City of Chicago
                %li Sincere interest in engaging and working with CIW community
                %li Must attend at least two core Co-op events to remain a member of the community
                %li Willingness to engage Co-op community outside of scheduled events or CIW
                %li Willingness to act as advisor to CIW team for industry-specific programming brainstorms, if necessary
                %li Proven dedication to community and social impact through professional collaboration
                %li Interest in lasting relationship with CIW and Co-op members, demonstrated through high event attendance and enthusiasm, week-of visibility and community interaction
                %li Willingness to become an ambassador for the CIW brand, pushing CIW message out to organization’s community through social media and listserv
        .join-foot
          %p
            %strong Join the Co-op
            %br
            At a glance, the Co-op is a diverse collection of local leaders, artists, business pros, innovators and social pioneers, handpicked by the CIW team to catalyze action in this booming start-up scene.  And we’re going to be selective. So tell us, <strong>show us</strong> why you should be involved in this tight-knit community of pragmatic idealists.
        .row-wrap
          =link_to "Apply Here", application_cooperative_index_path, class: "blue_btn big-btn"
          .over-hid
            Members will be announced March 15, 2013. Please contact Kelly Hagler with any questions: Kelly@chicagoideas.com

  #sidebar
    = render "partials/join_cooperative"
    = render "partials/social"
    = render "partials/newsletter_form"

:javascript
  $(document).ready(function(){
    $(".expand-btn").click(function(e){
      e.preventDefault();
      content_element = $(this).attr('href');
      $(content_element).toggleClass('hide-expand');
      
      if($(this).html().indexOf("expand") > 0){
        $(this).html("<i></i>click here to contract");
      }else{
        $(this).html("<i></i>click here to expand");
      }
    });
  });
