%h1.head-page-tab
  %small
    Sponsor dashboard
  Welcome back!
.desc-page There's a lot happening this year at Chicago Ideas Week. Here are some things to do.
%br
.row.box-upload-file.welcome-send-tick
  .ticket_item
    .box
      .title CIW Tickets
      .venue 500
      .bottom of 100 remaining
  .over-hid
    %h3 Send tickets to your guests!
    %p We've made it even easier this year for you to distribute your tickets. Be sure to send out as many as you can to your guest
    %p= link_to "Send tickets", "#", class: "blue-btn"
.row.box-upload-file.welcome-send-tick.share-social
  .text-share
    %p
      %trong Let's make an impact together
    %p Help share your experience with CIW on social media. Please get involed
  .share-icon
    = link_to "facebook", "#", class: 'fb'
    = link_to "twitter", "#", class: 'tw'
    = link_to "in", "#", class: 'in'
    = link_to "google plus", "#", class: 'gp'
.row.box-upload-file.welcome-send-tick.contact-box
  %p
    %strong Your CIW contacts
  %br
  .contact-item
    = image_tag 'admin/leah.jpg', alt: "", size: "84x74"
    %strong Leah Marshall
    %br
    Direct of Development
    %br
    233.345.2345
    %br
    leah@chicagoideas.com
  .contact-item
    = image_tag 'admin/img1.jpg', alt: "", size: "84x74>"
    %strong Jessica Malkin
    %br
    Executive Director
    %br
    312.662.7708
    %br
    jessica@chicagoideas.com  
