- if @sponsor.primary_contact == current_user
  .right-inner
    .list-sponsor
      .title Additional Sponsor Admins
      - @sponsor.users.each do |u|
        - unless current_user == u
          .span{id: "user_#{u.id}"}
            %span
              = u.name
              = "(pending)" if u.sign_in_count==0
            = link_to 'delete', delete_user_sponsor_start_here_index_path(id: u.id), method: :delete, remote: true, class: 'del'
    .row
      .title
        %strong Add another sponsor admin
    .errors
    .row= text_field :request, :name, placeholder: "Name of Requested Admin"
    .row= text_field :request, :email, placeholder: "Email of Requested admin"
    .form-action= link_to "Send Invite", "", class: "blue-btn", id: "submit_request"
    #loading_image.hidden{style: "width: 100%; text-align:center; margin-top: 10px;"}= image_tag 'admin/loader.gif'
    .message.hint
    
  :javascript
    $(document).ready(function(){
      $("a#submit_request").click(function(e){
        e.preventDefault();
        $(".errors").html("");
        $(".message").html("");
        if($(this).text()=="Send Invite"){
          $("#request_admin input#name").val($("#request_name").val());
          $("#request_admin input#email").val($("#request_email").val());
          $(this).html("sending...");
          $("#loading_image").removeClass("hidden");
          $("#request_admin").submit();
        }
      });
    });
