.right-inner
  .row.select-contact
    .title
      %strong Primary Contact Person
    .span
      %label Primary Contact
      - primary_contact_id = @sponsor.primary_contact ? @sponsor.primary_contact.id : ""
      = select_tag :primary_contact, options_from_collection_for_select(@sponsor.users, :id, :name, primary_contact_id)
  .list-sponsor
    .title Additional Sponsor Admins
    - @sponsor.users.each do |u|
      .span
        %span= u.name
        = link_to 'delete', '#', class: 'del'
  .row
    .title
      %strong Add another sponsor admin
  .row= text_field :request, :name, placeholder: "Name of Requested Admin"
  .row= text_field :request, :email, placeholder: "Email of Requested admin"
  .form-action= link_to "Submit request", "#", class: "blue-btn"
  .hint Your request was submitted. We will process it within 1-2 business days.   
