= semantic_form_for @sponsor, url: update_sponsor_sponsor_start_here_index_path, html:{ multipart: true } do |f|
  .left-column
    =render partial: "left", locals: {f: f}
  .right-column
    =render partial: "right", locals: {f: f}
  .row
    =f.submit "Save Changes"
    =link_to "cancel", "Cancel"
#email_form.hidden
  %h2
    Request Additional Sponsor Admin
    %a{:href => '#none', :class => 'close icon'}= icon('closethick', :light)
  ~ form_tag send_request_sponsor_start_here_index_path, remote: true, class: 'static' do
    .errors{style: "padding: 20px 0 0 20px"}
    %div{style: "padding: 20px 0 0 20px"}
      Name of Requested Admin:
      = text_field_tag :name
    %div{style: "padding: 20px 0 0 20px"}
      Email of Requested Admin:
      = text_field_tag :email
    %div{style: "padding: 20px 0 0 20px"}
      = submit_tag "Request Sponsor Admin"
:javascript
  $(document).ready(function(){

  });
