%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Memberships", member_program_path
        %li
          %span Confirm your purchase

%section.container#main_content
  #page_header
    #page.title_left
      %h1 Membership purchase

  .box.double.left
    .column_row
      = semantic_form_for(@order, url: '/payment', method: :post, :remote => true) do |f|
        .form_section
          %span.form_section_header Billing Information
          = f.inputs :class => "v_lists c_list" do
            = f.input :member_type_id,  :as => :hidden, :value => @order.member_type.id
            = f.input :name_on_card,    :as => :string, :required => true
            = f.input :address,         :as => :string, :required => true
            = f.input :city,            :as => :string, :required => true
            = f.input :state,           :as => :string, :required => true
            = f.input :zip,             :as => :string, :required => true, :label => "Zip Code"
            = f.input :card_number,     :as => :string, :required => true
            = f.input :cvc,             :as => :string, :required => true, :label => "Verification Code"
            = f.input :expiry_date,     :as => :string, :required => true, :placeholder => "MMYY"

        .form_section
          = f.inputs :class => "v_lists c_list" do
            %span.form_section_header Account Information
            = f.input :email, :as => :string, :required => true
            = f.input :password, :as => :password, :required => true, :label=> "Password"

        = f.buttons do
          = f.submit :value => "Confirm Purchase", :class => "btn submit", :id => "confirm_purchase"

.hidden_new_order{ :data => { :root => root_path }, :display => 'none' }
= render :partial => 'shared/thank_you_modal',
         :locals  => { :message    => 'Thank you for signing up to our Membership Program! You will be receiving a confirmation email and a receipt sent to the email you supplied momemtarily.',
                       :submessage => 'Inspire others by sharing Chicago Ideas Week' }
