%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Memberships", member_program_path
        %li
          %span Confirm your purchase

%section.container#main_content
  #page_header
    #page.title_left
      %h1 Membership purchase

  %p.secure_transaction
    = image_tag 'application/orders/lock.png'
    This is a secure transaction
  #membership_purchase.box.double.left
    #membership_form_section.column_row
      = semantic_form_for(@order, url: '/payment', method: :post, :remote => true) do |f|
        .form_section
          %span.form_section_header Billing Information
          %hr.form_section_separator
          .form_errors
            %ul
              - @order.errors[:base].each do |error|
                %li.form_error
                  = error
          = f.inputs :class => "v_lists c_list" do
            = f.input :member_type_id,  :as => :hidden, :value => @order.member_type.id
            = f.input :name_on_card,    :as => :string, :required => true, :placeholder => 'Full Name'
            = f.input :email,           :as => :string, :required => true
            = f.input :address,         :as => :string, :required => true
            = f.input :city,            :as => :string, :required => true
            = f.inputs :class => 'form_state_cards' do
              = f.input :state,         :as => :string, :required => true
              %li.form_cards
                %ul
                  %li= image_tag 'application/orders/billing_card1.png'
                  %li= image_tag 'application/orders/billing_card2.png'
                  %li= image_tag 'application/orders/billing_card3.png'
                  %li= image_tag 'application/orders/billing_card4.png'
            = f.input :card_number,     :as => :string, :required => true
            = f.inputs :class => 'form_expdate_cvc' do
              = f.input :expiry_date,   :as => :string, :required => true, :label => 'Exp Date', :placeholder => 'MMYY'
              = f.input :cvc,           :as => :string, :required => true, :label => "CVC"
            = f.input :zip,             :as => :string, :required => true, :label => "Zip Code"
        = f.buttons do
          = f.submit :value => "Confirm Purchase", :class => "btn submit", :id => "confirm_purchase"
    #membership_summary_section.colum_row
      %p.summary_header
        Summary &amp; Support
      = render 'member_type_summary', :member_type => @order.member_type
      = render 'need_help'
      = render 'share_ciw'
      = render 'volunteering'

= render :partial => 'shared/thank_you_modal',
         :locals  => { :message    => 'Thank you for signing up to our Membership Program! You will be receiving a confirmation email and a receipt sent to the email you supplied momemtarily.',
                       :submessage => 'Inspire others by sharing Chicago Ideas Week' }
