%p Dear #{@user.name},

%p Thank you for becoming a CIW #{@user.sponsor.name} Sponsor! Your support is greatly appreciated. To enhance your CIW experience, please login to #{link_to "Sponsor Portal", "http://chicagoideas.com/sponsor"} using the username and password provided below:

%p A new Sponsor Admin account was created for you at Chicago Ideas week.

%p
  Your username: #{@user.email}
  %br
  Your password: #{@password}

%p Upon your first time logging in, you will be prompted to set your own unique password. Thanks again for all your support!
%p
  Sincerely,
  <br/>Leah Marshall
  <br/>Director of Development
  <br/>312.999.395
  <br/>leah@chicagoideas.com
