= f.inputs do
  = f.input :name 
  = f.input :description 
  = f.input :url
  = f.input :sponsorship_level, :include_blank => false, :as => :select, :collection => SponsorshipLevel.by_sort.all
  #sliders
    - f.object.ciw_talks_tickets ||= 0
    - f.object.labs_tickets ||= 0
    - f.object.vip_reception_tickets ||= 0
    - f.object.edison_talk_tickets ||= 0
    - f.object.concert_tickets||= 0
    .row{style: "margin-bottom: 0;"}
      .label &nbsp;
      .span{style: "font-size: 16px"} used
      .span.center{style: "font-size: 16px"} total
    .row{style: "margin-top: 0;"}
      .label CIW Talks Tickets
      .span.center
        = "0"
        &nbsp;&nbsp;/ 
      .span= f.input :ciw_talks_tickets, as: :string, label: false
      .span.slide
        .slider      
    .row
      .label Labs Tickets
      .span.center
        = "0"
        &nbsp;&nbsp;/ 
      .span= f.input :labs_tickets, as: :string, label: false
      .span.slide
        .slider
    .row
      .label VIP Reception Tickets
      .span.center
        = "0"
        &nbsp;&nbsp;/ 
      .span= f.input :vip_reception_tickets, as: :string, label: false
      .span.slide
        .slider
    .row
      .label Edison Talk Tickets
      .span.center
        = "0"
        &nbsp;&nbsp;/ 
      .span= f.input :edison_talk_tickets, as: :string, label: false
      .span.slide
        .slider
    .row
      .label Concert Tickets
      .span.center
        = "0"
        &nbsp;&nbsp;/
      .span= f.input :concert_tickets, as: :string, label: false
      .span.slide
        .slider
  .row{style: "margin-bottom: 20px;"}
    .label Sponsorship Amount
    .span= f.input :sponsorship_amount, as: :string, label: false
  .row{style: "margin-bottom: 20px;"}
    .label Ticket Inviting Locked?
    .span= f.input :locked, as: :radio, label: false, collection: {"Locked" => true, "Unlocked" => false}
  .row{style: "margin: 0"}
    .label JPG Logo
    .span
      .span{style: "width: 100%; margin-top: 10px"}= f.object.logo_file_name
      .span= f.input :logo, as: :file, label: false, :hint => "logo image must be #{@model.logo_dimensions_string}"
  .row{style: "margin: 0"}
    .label EPS Logo
    .span
      .span{style: "width: 100%; margin-top: 10px"}= f.object.eps_logo_file_name
      .span= f.input :eps_logo, as: :file, label: false, :hint => "Please provide an EPS version of your logo in high resolution."
  .row
    .label Sponsorship Agreement
    .span
      .span{style: "width: 100%; margin-top: 10px"}= f.object.sponsor_agreement_file_name
      .span= f.input :sponsor_agreement, as: :file, label: false
  
  = f.input :featured
  
  
:javascript
  $(document).ready(function(){
    $( ".slider" ).each(function() {
      val = $(this).closest('.row').find('input').val();
      $(this).slider({
        range: "min",
        value: val,
        min: 0,
        max: 500,
        slide: function( event, ui ) {
          $(this).closest('.row').find('input').val(ui.value);
        }
      });
    });
    $( "#amount" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) );
    
    $("#sliders input").change(function(){
      val=$(this).val();
      if(val > 500){
        val=500;
        $(this).val(val);
      }
      
      if(isNaN(val)){
        val = 0;
        $(this).val(val);
      }
      $(this).closest('.row').find('.slider').slider({
        range: "min",
        value: val,
        min: 0,
        max: 500,
        slide: function( event, ui ) {
          $(this).closest('.row').find('input').val(ui.value);
        }
      });
    });
  });
