!!! 5
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    -#TODO: Move inline styles to asset pipeline.
  %body
    .membership_email{ :style => 'width: 800px;' }
      .membership_headline{ :style => 'width: 100%; display: inline-block; padding: 30px 0; border-top: 2px solid rgb(43, 108, 171); border-bottom: 1px solid #000;' }
        = link_to (image_tag 'email/ciw_logo.png'), root_path, :style => 'float: left; margin-left: 50px;'
        %h1{ :style => 'width: 500px; float: left; color: rgb(83, 83, 83); margin-left: 80px; font-size: 3.4em;' }
          Thank you for joining CIW's Member Program
      .membership_main_content{ :style => 'clear:both; width: 100%; display: inline-block; margin-top: 30px; padding-left: 50px;' }
        %div
          %p{ :style => 'width: 350px; float: left; font-size: 1.5em; color:rgb(91, 91, 91); line-height: 1.6em;' }
            Hi, #{@order.name_on_card},
            %br
            Thank you for becoming a CIW Member!
            %br
            %br

            With your support we are able to provide world-class,
            accessible programming to a wide audience that's
            inclusive to any and all passionate thinkers and doers.
            Your generous contributions will also enable us to provide
            complimentary tickets to 100 of the Midwest's
            brightest students as part of ThinkChicago, support the
            development of CIW YOU(th), which aims to inspire and
            empower Chicago teens, and reward the hundreds of
            dedicated volunteers that donate their time to CIW.
            %br
            %br

            Included in your Ignition Member package you receive:
            %br
            %strong
              \- 10% discount on all ticket sales
              %br
              \- Insider Updates
              %br
              \- Member recognition on badges
          .membership_pdf_receipt{ :style => 'float: left; margin-top: 80px; margin-left: 90px;' }
            = image_tag 'email/people.png', :style => 'display: block;'
            = link_to 'Download PDF of Receipt', '#', :style => 'display: block; margin-top: 30px; padding: 10px 25px; color: #FFF; font-size: 1.2em; font-weight: 700; border: 1px solid #0072BC; background-color: #0072BC; -webkit-box-shadow: inset 0px 1px 0px #45aef1;background-image: -webkit-linear-gradient(top, #1c91dc, #0072bc); border-radius: 3px; text-shadow: 1px 1px 1px #00548a; text-align: center; text-decoration: none'
        %p{ :style => 'display: inline-block; width: 700px; font-size: 1.5em; color:rgb(91, 91, 91); line-height: 1.6em;' }
          Be sure to visit us at www.chicagoideasweek.com for more information and event updates. Have a
          Member Program question? Please contact us at membership@chicagoideas.com or 312.999.5809.
          %br
          %br

          Once again, thank you for being a part of our supportive community as we continue to grow in 2013.
          We are very excited about this year's event, and we're glad to have you on board!
          %br
          %br

          Best,
          %br
          Becky Ahasic
          %br
          Membership Manager
      .membership_footer{ :style => 'clear: both; width: 100%; display: inline-block; margin-top: 30px; padding-left: 50px; padding-top: 20px; padding-bottom: 20px; background: rgb(246, 246, 246); border: 1px solid rgb(217, 217, 217);' }
        %p{ :style => 'float: left; width: 350px; font-size: 1.5em; color:rgb(91, 91, 91); line-height: 1.6em;' }
          %strong
            Let's make an impact together
          %br
          Help us spread the word about CIW through
          %strong
            twitter
          and
          %strong
            Facebook
          and don't forget to
          check out our blog for CIW updates!
        .membership_contacts{ :style => 'float: left; margin-left: 60px; margin-top: 50px;' }
          = link_to (image_tag 'email/facebook.png'),    '#'
          = link_to (image_tag 'email/twitter.png'),     '#', :style => 'margin-left: 20px;'
          = link_to (image_tag 'email/linkedin.png'),    '#', :style => 'margin-left: 20px;'
          = link_to (image_tag 'email/google_plus.png'), '#', :style => 'margin-left: 20px;'
