%h1.head-page-tab
  %small SPONSOR DASHBOARD
  = "Send Tickets"
.desc-page
  Click Send a Ticket to send tickets to your guests of honor
.ticket-wrap
  .row
    .ticket_item
      .box
        .title
          CIW TALKS TICKETS
        .value
          0
        .bottom
          of 100 remaining
      .link
        = 'Use a ticket'
    .ticket_item
      .box
        .title
          LABS
          %br TICKETS
        .value
          0
        .bottom
          of 100 remaining
      .link
        = 'Use a ticket'
    .ticket_item
      .box
        .title
          VIP RECEPTIONS TICKETS
        .value
          0
        .bottom
          of 100 remaining
      .link
        = 'Use a ticket'
    .ticket_item
      .box
        .title
          EDISION TALK TICKETS
        .value
          0
        .bottom
          of 100 remaining
      .link
        = 'Use a ticket'
    .ticket_item
      .box
        .title
          CONCERT TICKETS
        .value
          0
        .bottom
          of 100 remaining
      .link
        = 'Use a ticket'
    .ticket_item
      .box
        .title
          MENLO
          %br PASSES
        .value
          0
        .bottom
          of 100 remaining
      .link
        = 'Use a ticket'
.clr

