= @user.name 
from chicagoideas.com has invite you to be an admin of sponsor #{@user.sponsor.name} at chicagoideas.com
%br
click 
= link_to "here", @url
to access your account
%br
your username: #{@email}
%br
password: #{@password}
