= render 'collection_controls'

- content_for :top_links do
  = icon_link_to "add user", new_admin_user_path, 'plusthick'
  = export_model_link User, "csv"
 
= ssp_search_form(User)

.table_section
  %h3 Users
  .table_wrapper
    = render 'admin/users/table.html.haml', :users => @users
  = paginate @users

