%section#header_toolbar.container-fluid
  .container
    #breadcrumbs
      %ul
        %li= link_to "Home", "/"
        %li
          %span Member Program

= render 'member_types/main_content', :member_types => @member_types
= render 'member_types/join_ciw'
= render 'member_types/started_with'
= render 'member_types/questions'
