#ciw_contact
  .row
    .title Your CIW Contacts
  - @sponsor.users.each do |user|
    .row
      .span.avatar= image_tag user.portrait.url(:thumb)
      .span
        .row.title= user.name
        - if user.title
          %br= user.title
        - if user.phone
          %br= user.phone
        %br= user.email
