%h1.head-page-tab
  %small MATERIALS
  = "Shared Materials"
.desc-page
  Please use these resources when sharing your involvement with CIW,
  %br both inside and outside organization!
#marketing
  %ul
    %li
      %div
        = link_to image_tag( 'admin/materials.jpg'),"#"
      %h3
        = link_to 'Marketing Exposure',"#"
      %p
        = link_to 'preview',"#"
        |
        = link_to 'download',"#"
    %li
      %div
        = link_to image_tag( 'admin/materials.jpg'),"#"
      %h3
        = link_to 'Marketing Exposure',"#"
      %p
        = link_to 'preview',"#"
        |
        = link_to 'download',"#"
    %li
      %div
        = link_to image_tag( 'admin/materials.jpg'),"#"
      %h3
        = link_to 'Marketing Exposure',"#"
      %p
        = link_to 'preview',"#"
        |
        = link_to 'download',"#"
    %li
      %div
        = link_to image_tag( 'admin/materials.jpg'),"#"
      %h3
        = link_to 'Marketing Exposure',"#"
      %p
        = link_to 'preview',"#"
        |
        = link_to 'download',"#"
    %li
      %div
        = link_to image_tag( 'admin/materials.jpg'),"#"
      %h3
        = link_to 'Marketing Exposure',"#"
      %p
        = link_to 'preview',"#"
        |
        = link_to 'download',"#"
    %li
      %div
        = link_to image_tag( 'admin/materials.jpg'),"#"
      %h3
        = link_to 'Marketing Exposure',"#"
      %p
        = link_to 'preview',"#"
        |
        = link_to 'download',"#"

.clr

